@charset "utf-8";

/* reset */
html,body{height:100%;}
*{margin: 0;padding: 0;box-sizing: border-box;}
.clearfix:after{content:"";display:block;clear:both;}
a:link,a:visited{text-decoration: none; color:black;}
li{list-style: none;}

.container{width: 980px; margin: 0 auto;}

/* font */
body{font-family: 'Nanum Gothic', sans-serif;
font-size:14px;}
h3.title{font-size: 18px;letter-spacing: -1px;}

/* header */
#hd .top{background-color: red;}
#hd .submenu{float: right; background-color: skyblue;position:absolute;right:0;top:10px;}
#hd .submenu li{float: left;}
#hd .submenu a{
    display:block;

    font-size: 18px;
    padding: 0 10px;
    position:relative;
    left:0;
    top:9px;
    line-height: 20px;

}
#hd .submenu a:after{
    display:block;

}

/* visual */
.visual{background-image: url(../img/visual_bg.jpg);background-repeat: no-repeat;background-position: center;background-size:100% ;}

/* banner */

/* jobWrap */

/* section */

/* footer */