@charset "utf-8";
/* font */
body{font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;}
h3.title{font-size: 18px;letter-spacing: -1px;}

/* reset */
    html,body{height: 100%;}
    *{margin: 0;padding: 0;box-sizing: border-box;}
    a:link,a:visited{text-decoration: none;color:#888;}
    .clearfix:after{content: ""; display:block; clear:both;}
    li{list-style: none;}

    .container{width: 980px; margin: 0 auto;}
 
/* header */
#hd .top{border-bottom: 1px solid #e3d9d9;margin: 10px;}

#hd .submenu{float:right;height: 26px;_background-color:skyblue;}
#hd .submenu li{float:left;}
#hd .submenu li a{
    display:block;
    _height: 26px;
    _background-color: pink;
    font-size: 12px;
    padding: 0 10px;
    line-height: 26px;
    position: relative;
}
#hd .submenu li a:after{content:"";
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #888;
    position:absolute;
    left:0;
    top:9px;}

    #hd .submenu li:first-child a:after{display:none;}

    #hd h1.logo{width: 200px;height: 49px;margin:0 auto;margin-bottom: 10px;}
    #hd h1 img{display: block;}

#hd .bottom{background: #1c5da3;}
#hd .menu li{float: left; width: calc( 100% / 6 );

border-right: 1px solid #3362ac;}
#hd .menu li:first-child{border-left:1px solid #3362ac;}
#hd .menu li a{display: block;height: 44px;font-size: 16px;color:white;
text-align: center;line-height: 44px;background-color: #3362ac;
letter-spacing: -0.8px;}

/* visual */

.visual{
    background: #213969 url(../img/visual_bg.jpg) no-repeat center ;}
  
/* .visual{background-image:url(../img/visual_bg.jpg) ;
        background-repeat: no-repeat;
        background-position: center;} */
.vwrap{position: relative; height: 400px;overflow:hidden;}

.vwrap img{position: absolute;}
.vwrap .img01{left: 0;top: 50%;margin-top: -123px;}
.vwrap .img02{right: 0;top: 20px;}


/* banner */
.bwrapper{background: #eee;
    margin-bottom:50px;}
.bwrap li{width: calc( 100% / 5);
    float: left;
    color:white;
    text-align: center;
padding: 10px 0;}
.bwrap li img{display:block;margin: 0 auto;
margin-bottom: 10px;}

.bwrap li h3{margin-bottom: 7px;}

.bwrap li:nth-child(1){background: #7c99b9;}
.bwrap li:nth-child(2){background: #4f74a1;}
.bwrap li:nth-child(3){background: #4b8ce0;}
.bwrap li:nth-child(4){background: #3db5f3;}
.bwrap li:nth-child(5){background: #95c8ff;}

/* section */
.jobwrap div.jobItem{
            float:left;
            width: calc( ( 100% - 50px ) / 3 ); 
            margin-right:25px;
        margin-bottom:50px;}
.jobwrap div.jobItem:last-child{margin-right: 0;}
.jobwrap img{display: block;}

.jobwrap .twrap{
    padding: 20px 15px;
    border: 1px solid #ddd;
    border-top: 0 none}
   
.jobwrap h3{margin-bottom: 8px;}    
.jobwrap p{color:#888;}

/* section */
.con .map{
    width: calc( ( 100% - 50px ) / 3 ); 
    height: 180px;
    margin-right:25px;
    margin-bottom:50px;
    position:relative;
    float: left;
    overflow :hidden;}

.con div.map:last-child{margin-right: 0;}
.con div.mapimg{
    position:absolute;
    left:145px;
    
;}

.con .map{padding: 20px 15px;
    border: 1px solid #ddd;}
.con .maptext{position:relative;
            width: 160px;

}
    .con h3{margin-bottom: 10px;}
.con p{color:#888;}    
.con p a.link{color:blue;}

/* footer */
#ft .top{border: 1px solid #000;margin: 10px;}
#ft .submenu{float:left;height: 10px;}
#ft .submenu li{float:left;}
#ft .submenu li a{
    display: block;
    color:#000;
    font-size: 12px;
    padding: 0 10px;
    line-height: 26px;
    position: relative;
}
#ft .submenu li a:after{
    content:"";
    display:block;
    height: 10px;
    width: 4px;
    background: #888;
    position:absolute;
    left:0;
    top:10px;
}
#ft .submenu li:first-child a:after{display:none;}

#ft{background-color: #ddd;}
#ft .bottom{position:relative;}
#ft .bottom nav{position:relative;
    top:50px;
    left:100px;
    font-size: 30px;}
#ft .bottom article{position:absolute; left:300px;}