@charset "utf-8";

/* reset */
*{margin: 0;padding: 0;}
li{list-style: none;}
.clearfix:after{ 
    content:""; display: block;clear:both;
}

/* body */
div.wrap{
    background-color: skyblue;
    width: 1000px;
    margin: 0 auto;}

div.wrap>ul>li{
    background-color: pink; 
    width:20% ;
    float: left;
    text-align: center;
    line-height: 50px;  
}
.visual{
    background-color:skyblue;
    width: 500px;
}