$width:1200px;
$mColor:skyblue;
$sColor:pink;

.container{
display: flex;
  width: $width;
  height: 100%;
  h1{
    width: 100px;
    a{display: flex;justify-content: center;align-items: center;}
  }
  .nav{
    width: 500px;
    margin-left: auto;
    ul{display: flex;
    li{
      flex-grow: 1;
      a{display: flex;justify-content: center;align-items: center;
      background: $mColor;
    height: 100%;
    &:hover{background: $sColor;}
    }
    }
    }
    
  }
}